appnope==0.1.0; sys_platform == "darwin" and python_version >= "3.7"
backcall==0.2.0; python_version >= "3.7"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and platform_system == "Windows"
colorful==0.5.4
decorator==4.4.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.2.0" and python_version >= "3.7"
deta==0.7
environs==9.2.0; python_version >= "3.6"
fastapi==0.61.2; python_version >= "3.6"
h11==0.11.0
ipython==7.19.0; python_version >= "3.7"
ipython-genutils==0.2.0; python_version >= "3.7"
jedi==0.17.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
marshmallow==3.9.1; python_version >= "3.6"
parso==0.7.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pexpect==4.8.0; sys_platform != "win32" and python_version >= "3.7"
pickleshare==0.7.5; python_version >= "3.7"
prettyprinter==0.18.0
prompt-toolkit==3.0.8; python_full_version >= "3.6.1" and python_version >= "3.7"
ptyprocess==0.6.0; sys_platform != "win32" and python_version >= "3.7"
pydantic==1.7.2; python_version >= "3.6"
pygments==2.7.2; python_version >= "3.7"
python-dotenv==0.15.0; python_version >= "3.6"
starlette==0.13.6; python_version >= "3.6"
traitlets==5.0.5; python_version >= "3.7"
uvicorn==0.12.2
wcwidth==0.2.5; python_full_version >= "3.6.1" and python_version >= "3.7"
yakutils==1.7.0
